@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper {
	width: 380px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper h2 {
	position: relative;
	font-size: 22px;
	font-weight: 600;
	color: #333;
}
.wrapper h2::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 28px;
	border-radius: 12px;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper .title {
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	line-height: 100px;
	color: #fff;
	user-select: none;
	border-radius: 15px 15px 0 0;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper form {
	padding: 10px 30px 50px 30px;
}
.wrapper form .input-box {
	height: 52px;
	margin: 18px 0;
}
form .input-box input {
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 17px;
	padding-left: 20px;
	border: 1px solid lightgrey;
	border-radius: 25px;
	transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid {
	border-color: linear-gradient(-135deg, #c850c0, #4158d0);
}
form .policy {
	display: flex;
	align-items: center;
}
form h3 {
	color: #707070;
	font-size: 14px;
	font-weight: 500;
	margin-left: 10px;
}
.input-box.button input {
	color: #fff;
	letter-spacing: 1px;
	border: none;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
	cursor: pointer;
}
.input-box.button input:hover {
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}
form .text h3 {
	color: #333;
	width: 100%;
	text-align: center;
}
form .text h3 a {
	color: #4070f4;
	text-decoration: none;
}
form .text h3 a:hover {
	text-decoration: underline;
}

form .error {
	color: #D8000C;
	background-color: #FFD2D2;
	border: 1px solid #D8000C;
	border-radius: 4px;
	padding: 5px 10px;
	margin-top: 5px;
	font-size: 0.9em;
	display: inline-block;
	max-width: 300px;
}